.header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 1024px;
  height: 120px;
  font-size: 22px;
  font-weight: 600;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;

  &__logo {
    img {
      height: 90px;
    }
  }

  &__toggle {
    display: none;
    font-size: 30px;
    background: none;
    color: #fff;
    cursor: pointer;
    border: none;
  }

  &__nav {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    &--visible {
      display: flex !important;
    }
  }


  @media (max-width: 768px) {
    width: 100%;
    padding: 0 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 18px;

    &__toggle {
      display: block;
    }

    &__nav {
      position: absolute;
      top: 120px;
      right: 0px;
      left: 0px;
      display: none;
      flex-direction: column;
      padding: 1rem;
      margin-top: 0 !important;
      text-align: center;
      background-color: #000;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 2;
    }
  }
  
  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 1024px) {
    width: 924px;
  }

  @media (min-width: 1440px) {
    width: 1340px;
  }

  @media (min-width: 2560px) {
    width: 2460px;
  }
}